<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../css/bootstrap-responsive.min.css">
	

	<title>SIE</title>
</head>
<body>
	<header>
		<div class="navbar navbar-fixed-top" role="navigation">
			  <div class="navbar-inner">
			    <div class="container">
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			      <a class="brand" href="#">SIE</a>
			      <div class="nav-collapse">
			        <ul class="nav">
			        	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-th-list"></i> Lineas Estrategicas</a>
							<ul class="dropdown-menu">
								<li><a class="button" href="">Crear</a></li>
								<li><a class="button" href="">Consultar</a></li>
							</ul>
			        	</li>
			        	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class=" icon-list-alt"></i>  Programas</a>
							<ul class="dropdown-menu">
								<li><a class="button" href="">Crear</a></li>
								<li><a class="button" href="">Consultar</a></li>
							</ul>	
			        	</li>
			        	
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-folder-open"></i> Proyectos</a>
							<ul class="dropdown-menu">
								<li><a class="button" href="">Crear</a></li>
								<li><a class="button" href="">Consultar</a></li>
							</ul>
						</li>	
						
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> Usuario</a>
							<ul class="dropdown-menu">
								<li><a class="button" href="">Salir</a></li>
							</ul>
						</li>	
					</ul>
			      </div>
			    </div>
			</div>
		</div>	
	</header>
	<br>
	<div class="container">
		<div class="row-fluid">
			<div class=""></div>
			<div class="span12">
				<div class="span10 offset1 well">
					<form role="form" id="crearProyecto">
						<legend>Información</legend>
						<div class="form-group form-inline well">
							<div class="control-group well">
								<select class="span5" id="strategic_line_id" name="strategic_line_id" required>
									<option>Seleccione un Programa</option>
								</select>
								<select class="span5" id="program_id" name="program_id" required>
									<option>Seleccione un Proyecto</option>
								</select>
							</div>
							<div class="controls controls-row">
								<input class="span5" type="text" placeholder="Código Proyecto" name="project_id" required>
							</div> <br>
							<div class="controls controls-row">
								<input class="span8" type="text" id="" placeholder="Nombre:*" name="project_name" required>	
							</div><br>
							<div class="controls controls-row">
								<textarea class="span12" rows="4" style="resize:none" id="program_objetive" placeholder="Objetivo:*" name="project_objective" required></textarea>
							</div><br>
							<div class="controls controls-row">
								<input class="span3" type="text" id="program_weighting" placeholder="Ponderación:*" name="program_weighting" required>
							</div><br>
							<div class="controls controls-row">
							<input class="span3" type="text" id="investment" placeholder="Inversión:*" name="investment" required>
							</div><br>
							<div class="controls controls-row">
								<label class="span2" for="deadline_start_date">Vigencia:</label>
								<input class="span4" type="date" id="deadline_start_date" name="deadline_start_date" required>	
								<label class="span1" for="deadline_end_date">a</label>
								<input class="span4" type="date" id="deadline_end_date" name="deadline_end_date" required>	
							</div><br>
							<legend>Localización</legend>
							<div class="controls controls-row">
								<input class="span4" type="text" placeholder="Nombre:*" id="location_name" name="location_name" required>
								<input class="span4" type="text" placeholder="Tipo:*" id="location_type" name="location_type" required>
								<a href="" class="btn btn-primary span2">Agregar</a>
							</div><br>
							<div class="controls controls-row">
								<table class="table table-striped" id="proyectosLocalizacion">
									<thead>
										<th>#</th>
										<th>Nombre Ubicación</th>
										<th>Tipo</th>
										<th></th>
										<th></th>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Paipa</td>
											<td></td>
											<td><button type="button" class="btn btn-primary" onclick="agregarPunto(document.tabla)"><i class="icon-edit"></i></button></td>
											<td><button type="button" class="btn btn-primary" onclick="agregarPunto(document.tabla)"><i class="icon-remove"></i></button></td>
										</tr>
										<tr>
											<td>2</td>
											<td>Duitama</td>
											<td></td>
											<td><button type="button" class="btn btn-primary" onclick="agregarPunto(document.tabla)"><i class="icon-edit"></i></button></td>
											<td><button type="button" class="btn btn-primary" onclick="agregarPunto(document.tabla)"><i class="icon-remove"></i></button></td>
										</tr>
									</tbody>
								</table>
							</div>
							<legend>Años de Ejecución</legend>
								<div class="control-group ">
										<input class="span2" type="text" placeholder="*Año:" title="Año">
									 	<input class="span2" type="text" placeholder="Ponderación" title="Ponderación">
										<input class="span3" type="date" title="Fecha de Terminación"></label>
										<a class="btn btn-primary" href="">Agregar</a>
								</div>
							<div class="controls controls-row">
								<table class="table table-striped" id="proyectosLocalizacion">
									<thead>
										<th>#</th>
										<th>Año</th>
										<th>Ponderación</th>
										<th>Fecha</th>
										<th></th>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>2013</td>
											<td>25%</td>
											<td></td>
											<td><button type="button" class="btn btn-primary" onclick="agregarPunto(document.tabla)"><i class="icon-remove"></i></button></td>
											
										</tr>
										<tr>
											<td>2</td>
											<td>2014</td>
											<td>25%</td>
											<td></td>
											<td><button type="button" class="btn btn-primary" onclick="agregarPunto(document.tabla)"><i class="icon-remove"></i></button></td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<a href="lineas_estrategicas_consultar.html" class="btn btn-primary span2 offset5" type="submit" value="Crear">CREAR</a>
					</form>
				</div>	
			</div>
			
		</div>
		
	</div>
	
	
	
<!--JavaScript================================================================================================-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="../js/jquery.js"></script>
	<script src ="../js/bootstrap.min.js"></script>
</body>
</html>